<%- include("partials/header")  -%>

<h1>Compose</h1>


<div class="form-group">

    <form action="/compose" method="post">
     
        <p> <strong>HeadLine for the Blog</strong></p>
       
        <input class="form-control" type="text" name="postTitle" autocomplete="off">
         <br><br>
         <p> <strong>Content of Blog</strong></p>
         <textarea class="form-control" name="postBody" id="" cols="80" rows="8"></textarea>
        <br><br>
    
        <button type="submit" class="btn btn-success">Submit</button
    
    </form>



</div>
  


<%- include("partials/footer") -%> 