<%- include("partials/header")  -%>

<h1>Contact Us</h1>
<br>
<p> Thank you for visiting my website! I would love to hear from you, whether it's to provide feedback on my posts, discuss a potential project, or just to say hello.

   You can reach me at the following contact information: </p>  
    
   <p>  Phone: 555-555-5555 </p> 
    <p> Email: akashsingh@email.com </p>  
   <p> LinkedIn: linkedin.com/in/akashsingh </p> 
   <p>    GitHub: github.com/akashsingh    </p>
    
   <p>  Feel free to drop me a message, I'll try my best to get back to you as soon as possible.
    
   Thank you again for visiting my website!  </p> 
    
   <p> Best regards,  <br>
     Akash Singh  </p>


<%- include("partials/footer") -%> 